---
// Component Imports
import MainHead from '../../components/MainHead.astro';
---
<html lang="en">
  <head>
    <MainHead title="Attention" />
    <style lang="scss">
      :global(h1) {
        margin: 0;
      }
      :global(p) {
        margin: 0;
      }
      :global(a) {
        color: #ffc800;
      }
      .wrapper {
        width: 100%;
        max-width: 750px;
        margin: 0 auto;
        display: grid;
        place-items: center;
        height: 100vh;
        padding: 20px;
        box-sizing: border-box;
      }
      .attention {
        display: grid;
        place-items: center;
        text-align: center;
      }
      .flex {
        justify-content: center;
        margin: 0 auto;
        margin-top: 20px;
        display: flex;
      }
      .back {
        color: #fff;
      }
      .enter {
        margin-left: 10px;
      }
      .attention_logo {
        width: 64px;
        margin: 0;
        margin-top: 10px;
        // text-shadow: 1px 1px 30px #fff, 1px 1px 12px #fff, 2px 5px 60px #fff;
        animation: blink 3s infinite alternate;
      }
      .quote {
        margin-top: 20px;
        color: #bbb;
      }
      @keyframes blink {
        40% {
          opacity: 1;
        }
        42% {
          opacity: .4;
        }
        43% {
          opacity: 1;
        }
        45% {
          opacity: .4;
        }
        46% {
          opacity: 1;
        }
      }
      .dot {
        text-decoration: underline;
        text-decoration-color:#fff;
      }
    </style>
  </head>
  <body>
    <main class="wrapper">
      <div class="attention">
        <h1>Attention</h1>
        <!-- <p class="material-icons">warning_amber</p> -->
        <svg class="attention_logo" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 301.761 301.761" style="enable-background:new 0 0 64.761 64.761;" xml:space="preserve" fill="#ffc800">
        <path d="M150.881,17.519L0,284.241h301.761L150.881,17.519z M168.072,104.046l-6.85,105.73h-20.678l-6.85-105.73H168.072z
          M150.88,255.995c-9.755,0-17.663-7.908-17.663-17.663c0-9.755,7.908-17.663,17.663-17.663c9.755,0,17.663,7.908,17.663,17.663
          C168.543,248.087,160.635,255.995,150.88,255.995z"/>
        </svg>
        <p class="quote">On the next page, you will find <span class="dot">criminal</span>, <span class="dot">violent</span>, and <span class="dot">nsfw</span> expressions.</p>
        <div class="flex">
          <a class="back" href="/">Back</a>
          <a class="enter" href="/docs/osint">Enter</a>
        </div>
      </div>
    </main>
  </body>
</html>
