---
// Component Imports
import MainHead from '../../components/MainHead.astro';
---
<html lang="en">
  <head>
    <MainHead title="Onion" />
    <style lang="scss">

    </style>
  </head>
  <body>
  </body>
</html>
