---
import { Markdown } from 'astro/components';

import MainHead from '../../components/MainHead.astro';
---

<html lang="en">
<head>
  <MainHead title="Resume" />
</head>
<style>
  body {
    margin: 0 auto;
  }
  .wrapper {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 20px;
    box-sizing: border-box;
  }
  .flex {
    display: flex;
  }
  .profile_img {
    width: 150px;
    height: 100%;
    position: relative;
  }
  .vertical {
    margin-left: 20px;
  }
  h1 #resume {
    margin-top: 0 !important;
  }
  @media screen and (max-width: 450px) {
    :global(body) {
      width: 100%;
    }
    .profile_img {
      width: 150px;
      height: 100%;
      position: relative;
    }
    .vertical {
      margin-left: 20px;
    }
  }
  @media screen and (min-width: 451px) {
    :global(body) {
      width: 70%;
    }
  }
  :global(h1) {
    margin: 0;
  }
  :global(h2) {
    color: #000;
    background-color: #fff;
  }
  :global(h3) {
    margin-top: 0;
    margin-bottom: 0;
  }
  :global(p) {
    margin: 0;
  }
  :global(a) {
    color: #ffc800;
  }
  :global(blockquote) {
    margin: 0;
    color: #bbb;
  }
  :global(hr) {
    margin-top: 18px !important;
    color: #bbb;
  }
</style>
<body>
<!-- <Nav /> -->
<div class="wrapper">
<!-- Astro’s Markdown Component -->
<Markdown>
# KOKI OKA

## **PERSONAL DETAILS**

<div class="flex">
  <img src="/assets/resume/me.jpeg" alt="" class="profile_img">
  <div class="vertical">
  ### Date of Birth
  -- June 23, 1997
  ### Nationality
  -- Japanese
  ### Martial Status
  -- Single
  </div>
</div>


## **WORK EXPERIENCE**

System Engineer / Frontend Engineer


### Programming learning service(Start up)
> April 2020 -- December 2020
*A service that allows users to buy and sell programming learning content without the need for environment development.I was mainly responsible for static coding of all administration and user screens, validation of payment screens, and implementation of component UI using Atomic Design. I also introduced and implemented unit tests using Jest almost entirely on my own.It was a great project that I was assigned to as a new graduate and it gave me a lot of experience.*  
(HTML5, CSS3, JavaScript, Vue.js, Webpack, ESLint, Jest, AdobeXD, Github, Trello)

---

### Creation of a new business website for a major telecommunications company
> January 2021
*Created a website to announce a new project for a major telecommunications company.The main tasks were to create new pages, fix bugs, and modify processing.*  
(HTML5, CSS3, JavaScript, Handlebar.js, jQuely, AdobeXD, Github)

---

### Maintenance and operation of a major recruiting service
> February 2021 -- March 2021
*Due to confidentiality agreements, I can't give you any details.*

---

### Store terminal application development for a major cosmetics manufacturer
> April 2021 -- Current
*In this project, developed an application to manage customer information in a store.My main task was to create screens, connect APIs, and test them with the latest front-end technologies.*  
(Pug, Stylus, JavaScript, Vue.js, Nuxt.js, AdobeXD, Github, Backlog)


## **TERTIARY**

### KINDAI University at Osaka
> 2016 -- 2020
*B.A. in Public Management of Economics.*

<!-- [Kindai news pr](https://www.kindai.ac.jp/news-pr/news-release/2018/06/012872.html) -->


## SECONDARY

### Chiben Gakuen Senior High School at Nara
> 2013 -- 2015

*Participated in the 66th All-Japan High School Ekiden Championship*

[result](https://www.jaaf.or.jp/taikai/1292/1292_file_1.pdf)


## CONTACT
Tokyo, Japan  
090-9167-1690  
Email:tetrapasta02@gmail.com  
Github:[Coordinate-Cat](https://github.com/Coordinate-Cat) 

<!-- ---

## INTEREST (in something)

<span>Jamstack</span>
<span>Svelte</span>
<span>OS</span>
<span>OSS</span>
<span>UI/UX Design</span> -->
---
Would you like to know more?
<a href="/docs/stats">
  View More(Stats page)
</a>

</Markdown>
<!-- Astro’s Markdown Component -->
</div>
</body>
</html>
