---
import { Markdown } from 'astro/components';

import MainHead from '../../components/MainHead.astro';
import Footer from '../../components/Footer/index.jsx';
import Nav from '../../components/Nav/index.jsx';
---

<html lang="en">
  <head>
    <MainHead title="Docs | Wayfinding Research" />
  </head>
  <body>
    <Nav />
    <div class="wrapper">
      <!-- Astro’s Markdown Component ------------------>
      <Markdown>
        # Wayfinding Research
        - aiueo
        - aiueo
        https://marketplace.visualstudio.com/items?itemName=idleberg.subway-dark
      </Markdown>
      <!-- Astro’s Markdown Component ------------------>
    </div>
    <Footer />
  </body>
</html>
