@font-face {
  font-family: Material Icons;
  font-weight: 400;
  font-style: normal;

  src: url(../fonts/material-icons.woff2) format('woff2');
}
.material-icons {
  display: inline-block;
  white-space: nowrap;
  letter-spacing: normal;
  text-transform: none;
  word-wrap: normal;
  font-family: 'Material Icons';
  font-size: 24px;  /* Preferred icon size */
  font-weight: normal;
  font-style: normal;
  line-height: 1;

  direction: ltr;
}