.wrapper__readable a {
  color: #ffc800 !important;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    border-bottom:2.4px dashed #ffc800;
  }
}
.tac a {
  color: #ffc800 !important;
  text-decoration: none;
  font-weight: bold;
}
figure {
  margin: 0;
  & figcaption {
    font-size: 12px;
    color: #7c7c7c;
  }
}