// -----------
// blog-only font family
// -----------
.ja {
  margin-top: 20px;
  font-family: 'Zen Kurenaido', sans-serif;
}
// -----------
// blog-only hyperlinks
// -----------
a {
  color: #ffc800;
}
// -----------
// head hero image
// -----------
.hero {
  // display: flex;
  // align-items: center;
  // flex-direction: column;
  // justify-content: center;
  // min-height: 25vw;
  // padding: 8rem;
  // color: white;
  // background-color: var(--t-fg);
  // background-repeat: no-repeat;
  // background-size: cover;
  
  filter: grayscale(100);
}
.title {
  margin-top: 70px;
  // padding: 0 32px;
  color: #fff;
  text-align: left;
  letter-spacing: .0625em;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
  overflow-wrap: break-word;
	word-break: keep-all;
}
// -----------
// main content
// -----------
.content {
  box-sizing: border-box;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 0 32px;
  color: #fff;
  font-size: var(--f-u1);
  font-weight: 600;
  line-height: 1.2;
}
// -----------
// details
// -----------
.leadIn {
  box-sizing: border-box;
  max-width: 686px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 8px;
  color: var(--t-bg);
  color: #000;
  border: 4px solid #fff;
  border-radius: 10px;
  background-color: #fff;

  &_tags {
    display: flex;
    height: 14px;
    margin: 0 auto;
    margin-bottom: 4px;
    & > span {
      margin-right: .1em;
      margin-left: .1em;
      padding: 0 8px;
      text-transform: uppercase;
      color: #000;
      border-radius: 4px;
      line-height: 1.2;
      background-color: #ffc800;
      font-size: 12px;
      font-weight: 900;
      &:first-child {
        margin-left: 0;
      }
    }
    &_date {
      font-size: 12px;
      font-weight: 900;
    }
    &_char {
      margin-left: 4px;
      font-size: 12px;
      font-weight: 900;
    }
  }
  &_para {
    display: flex;
  }
  &_desc {
    margin: 0 auto;
    color: #7c7c7c;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.2;
  }
}