.wrapper__readable a {
  color: #ffc800 !important;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    border-bottom:2.4px dashed #ffc800;
  }
}
.tac a {
  color: #ffc800 !important;
  text-decoration: none;
  font-weight: bold;
}