---
import MainHead from '../components/MainHead.astro';
// import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';
import Blog from '../components/Blog/index.jsx';

const blog = Astro.fetchContent('./project/*.md')
  .filter(({ published_at }) => !!published_at)
  .sort((a, b) => new Date(b.published_at) - new Date(a.published_at));
---

<html lang="en">
  <head>
    <MainHead title="BLOG | Route23" />
    <link rel="alternate icon" type="image/x-icon" href="/favicon.ico" />
    <style lang="scss">
      .wrapper {
        margin-top: 60px;
        padding-left: 32px;
        padding-right: 32px;
      }
      .title {
        color: #fff;
        text-align: center;
      }
      .blogs {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <Nav />
    <div class="wrapper">
      <h1 class="title">BLOG</h1>
      <div class="blogs">
        {blog.map((project) => (
          <Blog project={project} />
        ))}
      </div>
    </div>
    <!-- <Footer /> -->
  </body>
</html>
