---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Button from '../components/Button/index.jsx';
import Nav from '../components/Nav/index.jsx';
// import Footer from '../components/Footer/index.jsx';
import Blog from '../components/Blog/index.jsx';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
  <head>
    <MainHead title="Route23" />
    <style lang="scss">
      .tree-view {
        height: 800px;
        margin-top: 40px;
      }
      .dev {
        display: flex;
        margin: 0 auto;
        width: 300px;
        height: 300px;
        align-items: center;
        justify-content: center;
        overflow : hidden;
        ._ {
          display : inline-block;
          padding-left: 100%;
          white-space : nowrap;
          line-height : 1em;
          animation : scroll 10s linear infinite;
          text-transform: uppercase;
          font-weight: 900;
        }
      }
      @keyframes scroll{
        0% {
          transform: translateX(30%)
        }
        100% {
          transform: translateX(-100%)
        }
      }
    </style>
  </head>
  <body>
    <Nav />
    <main class="wrapper">
      <!-- <ul class="tree-view">
        <li>
          <details open>
            <summary>Route23</summary>
            <ul>
              <li>
                <details open>
                  <summary>Junction601</summary>
                  <ul>
                    <li>
                      <details open>
                        <summary>Web</summary>
                        <ul>
                          <li><a href="docs/frontend">Frontend</a></li>
                        </ul>
                      </details>
                    </li>
                  </ul>
                </details>
              </li>
              <li>
                <details open>
                  <summary>Junction602</summary>
                  <ul>
                    <li>
                      <details open>
                        <summary>Design</summary>
                        <ul>
                          <li><a href="docs/wayfinding-research">Wayfinding Research</a></li>
                          <li><a href="docs/music-research">Music Research</a></li>
                        </ul>
                      </details>
                    </li>
                    <li>Cost</li>
                  </ul>
                </details>
              </li>
              <li>
                <details open>
                  <summary>Junction603</summary>
                  <ul>
                    <li>
                      <details open>
                        <summary>Research</summary>
                        <ul>
                          <li><a href="docs/wayfinding-research">Wayfinding Research</a></li>
                          <li><a href="docs/music-research">Music Research</a></li>
                        </ul>
                      </details>
                    </li>
                    <li>Cost</li>
                  </ul>
                </details>
              </li>
              <li>
                <details open>
                  <summary>Junction604</summary>
                  <ul>
                    <li>
                      <details open>
                        <summary>OSS</summary>
                        <ul>
                          <li><a href="docs/subway-ui">SubwayUI</a></li>
                          <li><a href="docs/gh-ibli">gh-ibli</a></li>
                        </ul>
                      </details>
                    </li>
                  </ul>
                </details>
              </li>
            </ul>
          </details>
        </li>
      </ul> -->
      <div class="dev">
        <p class="_">🚧 under development... 🚧</p>
      </div>
    </main>
    <!-- <Footer /> -->
  </body>
</html>
