---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Button from '../components/Button/index.jsx';
import Nav from '../components/Nav/index.jsx';
import Footer from '../components/Footer/index.jsx';
import Blog from '../components/Blog/index.jsx';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
  <head>
    <MainHead title="Route23" />
    <style lang="scss">
      .tree-view {
        height: 800px;
        margin-top: 40px;
      }
    </style>
  </head>
  <body>
    <Nav />
    <main class="wrapper">
      <ul class="tree-view">
        <li>
          <details open>
            <summary>Route23</summary>
            <ul>
              <li>
                <details>
                  <summary>Junction601</summary>
                  <ul>
                    <li>
                      <details open>
                        <summary>Web</summary>
                        <ul>
                          <li><a href="../docs/frontend">Frontend</a></li>
                        </ul>
                      </details>
                    </li>
                  </ul>
                </details>
              </li>
              <li>
                <details>
                  <summary>Junction602</summary>
                  <ul>
                    <li>
                      <details>
                        <summary>Design</summary>
                        <ul>
                          <li><a href="../docs/wayfinding-research">Wayfinding Research</a></li>
                          <li><a href="../docs/music-research">Music Research</a></li>
                        </ul>
                      </details>
                    </li>
                    <li>Cost</li>
                  </ul>
                </details>
              </li>
              <li>
                <details>
                  <summary>Junction603</summary>
                  <ul>
                    <li>
                      <details>
                        <summary>Research</summary>
                        <ul>
                          <li><a href="../docs/wayfinding-research">Wayfinding Research</a></li>
                          <li><a href="../docs/music-research">Music Research</a></li>
                        </ul>
                      </details>
                    </li>
                    <li>Cost</li>
                  </ul>
                </details>
              </li>
              <li>
                <details>
                  <summary>Junction604</summary>
                  <ul>
                    <li>
                      <details open>
                        <summary>OSS</summary>
                        <ul>
                          <li><a href="../docs/subwayui">SubwayUI</a></li>
                          <li><a href="../docs/gh-ibli">gh-ibli</a></li>
                        </ul>
                      </details>
                    </li>
                  </ul>
                </details>
              </li>
            </ul>
          </details>
        </li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
