---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav/index.jsx';
---
<html lang="en">
  <head>
    <MainHead title="Route23" />
    <style lang="scss">
    </style>
  </head>
  <body>
    <Nav />
    <main class="wrapper">
    </main>
  </body>
</html>
