---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav/index.jsx';
---
<html lang="en">
  <head>
    <MainHead title="Route23" />
    <style lang="scss">
    .wrapper {
      height: 1000px;
      margin-top: 60px;
    }
    .top-card {
      display: flex;
      align-items:flex-start;
      width: 100%;
      // height: 64px;
      font-size: 32px;
      line-height: 28px;
      // line-height: 64px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      & > p {
        margin: 0;
      }
      &-icon {
        color: #000;
        background-color: #ffc800;
        width: 64px;
        height: 64px;
        margin: 0 auto;
      }
      &-text {
        color: #fff;
        background-color: #000;
        text-align: left;
        width: 100%;
        margin: 0 auto;
        height: 32px;
        padding-left: 20px;
      }
    }
    .white {
      color: #fff;
    }
    .green {
      background-color: #00933c;
    }
    .concrete {
      background-color: #808183;
    }
    .red {
      background-color: #EE352E;
    }
    .purple {
      background-color: #B933AD;
    }
    .icon {
      width: 64px;
      font-size: 44px;
      display: flex;
      align-items:center;
      justify-content: center;
      line-height: 64px;
    }
    .bold {
      font-weight: bold;
    }
    .wrap {
      display:flex;
      flex-flow: column;
      height: 64px;
    }
    .sub {
      &-title {
        font-size: 32px;
        line-height: 28px;
        height: 32px;
        width: 200px;
      }
      &-desc {
        font-size: 24px;
        line-height: 38px;
        height: 32px;
        color: #7c7c7c;
      }
    }
    .external {
      display: none;
    }
    .top-card:hover {
      .external {
        margin-left: 4px;
        transform: rotate(-90deg);
        display: inline;
      }
    }
    .osint {
      width: 44px;
      padding: 0 10px;
      height: 61px;
      fill: #fff;
    }
    .github {
      width: 44px;
      padding: 0 10px;
      height: 61px;
      fill: #fff;
    }
    </style>
  </head>
  <body>
    <Nav />
    <main class="wrapper">

      <!-- blog -->
      <a href="/blog" class="top-card">
        <p class="top-card-icon"><i class="material-icons icon bold">arrow_forward</i></p>
        <div class="wrap">
          <p class="top-card-text sub-title">BLOG</p>
          <p class="top-card-text sub-desc">Internal Page</p>
        </div>
      </a>
      <!-- blog -->

      <!-- docs -->
      <a href="/docs" class="top-card mt2">
        <!-- <p class="top-card-icon"><i class="material-icons icon">folder_open</i></p> -->
        <p class="top-card-icon"><i class="material-icons icon bold">arrow_forward</i></p>
        <div class="wrap">
          <p class="top-card-text sub-title">DOCS</p>
          <p class="top-card-text sub-desc">Internal Page</p>
        </div>
      </a>
      <!-- docs -->

      <!-- docs stats -->
      <a href="/docs/stats" class="top-card mt2">
        <p class="top-card-icon white concrete"><i class="material-icons icon bold">arrow_forward</i></p>
        <p class="top-card-icon white concrete"><i class="material-icons icon">pie_chart</i></p>
        <div class="wrap">
          <p class="top-card-text sub-title">Stats</p>
          <p class="top-card-text sub-desc">Internal Page</p>
        </div>
      </a>
      <!-- docs stats -->

      <!-- docs resume -->
      <a href="/docs/resume" class="top-card mt2">
        <!-- <p class="top-card-icon"><i class="material-icons icon">folder_open</i></p> -->
        <p class="top-card-icon white red"><i class="material-icons icon bold">arrow_forward</i></p>
        <p class="top-card-icon white red"><i class="material-icons icon">edit</i></p>
        <div class="wrap">
          <p class="top-card-text sub-title">Resume</p>
          <p class="top-card-text sub-desc">Internal Page</p>
        </div>
      </a>
      <!-- docs resume -->

      <!-- docs osint -->
      <a href="/docs/attention" class="top-card mt2">
        <!-- <p class="top-card-icon"><i class="material-icons icon">folder_open</i></p> -->
        <p class="top-card-icon white purple"><i class="material-icons icon bold">arrow_forward</i></p>
        <p class="top-card-icon white purple">
          <svg class="osint" version="1.1" id="圖層_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 100 100" xml:space="preserve">
            <path d="M73.142 40.869c0-.084.003-.166.003-.25 0-14.843-6.384-26.875-14.259-26.875-2.438 0-4.733 1.156-6.739 3.191a2.997 2.997 0 0 1-4.294 0c-2.007-2.035-4.301-3.191-6.739-3.191-7.875 0-14.26 12.032-14.26 26.875 0 .084.003.166.003.25C15.209 43.914 7.5 49.186 7.5 55.185c0 9.429 19.028 14.476 42.5 14.476s42.5-5.047 42.5-14.476c0-5.999-7.709-11.271-19.358-14.316z" fill="#fff"/><path d="M17.849 71.963l3.061 11.073a2.556 2.556 0 0 0 2.48 1.942l13.756 1.223c.734.065 1.474.086 2.204-.012 2.211-.295 4.286-1.32 5.763-3.013 1.443-1.654 3.109-2.6 4.886-2.6 1.776 0 3.442.946 4.886 2.6 1.477 1.692 3.553 2.718 5.763 3.013.73.097 1.471.077 2.204.012l13.756-1.223a2.554 2.554 0 0 0 2.48-1.942l3.061-11.073a2.555 2.555 0 0 0-2.48-3.169c-19.78 4.054-39.56 4.054-59.341 0a2.556 2.556 0 0 0-2.479 3.169z" fill="#fff"/><metadata xmlns:d="https://loading.io/stock/"><d:name>hacker</d:name><d:tags>hacker,incognito,anonymous,gang,secret,agent,spy,tapping,steal</d:tags><d:license>by</d:license><d:slug>kuyet2</d:slug></metadata>
          </svg>
        </p>
        <div class="wrap">
          <p class="top-card-text sub-title">OSINT</p>
          <p class="top-card-text sub-desc">Internal Page</p>
        </div>
      </a>
      <!-- docs osint -->

      <!-- github -->
      <a href="https://github.com/Coordinate-Cat" class="top-card mt2">
        <p class="top-card-icon white green"><i class="material-icons icon bold">arrow_back</i></p>
        <p class="top-card-icon white green">
          <svg class="github" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
          </svg>
        </p>
        <div class="wrap">
          <p class="top-card-text sub-title">Github<i class="material-icons bold external">open_in_new</i></p>
          <p class="top-card-text sub-desc">External Page</p>
        </div>
      </a>
      <!-- github -->

      <!-- SubwayUI -->
      <a href="https://github.com/Route23/SubwayUI" class="top-card mt2">
        <p class="top-card-icon white green"><i class="material-icons icon bold">arrow_back</i></p>
        <p class="top-card-icon white green"><i class="material-icons icon">subway</i></p>
        <div class="wrap">
          <p class="top-card-text sub-title">SubwayUI<i class="material-icons bold external">open_in_new</i></p>
          <p class="top-card-text sub-desc">External Page</p>
        </div>
      </a>
      <!-- SubwayUI -->

    </main>
  </body>
</html>
