.wrapper {
  height: 0 !important;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.card {
  position: relative;
  color: var(--t-bg);
  background: #000;
  width: 23%;
  box-sizing: border-box;
  transition: 0.2s;
  text-decoration: none;
  border: 3px solid #000;
  transition: 0.5s;
  &:hover {
    border: 3px solid #f0f0f0;
    &>.titleCard {
      filter: grayscale(0);
    }
  }
}

.title {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: white;
  flex-direction: column;
  font-size: var(--f-u4);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
}

.titleCard {
  position: relative;
  background-size: cover;
  background-position: 50% 100%;
  padding-top: 37.5%;
  transition: 0.5s;
  filter: grayscale(100);
}

.link {
  color: #fff;
}

.desc, .date, .tags {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.4;
  margin: 0;
  padding: 10px;
}

.date, .tags {
  padding-top: 0;
  overflow: scroll;
  &::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
  }
}

.tags {
  margin-right: 10px;
}

.tag {
  // margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0 8px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  background-color: #ffc800;
  color: #fff;

  &:nth-of-type(1n) {
    background-color: rgb(207, 14, 14);
  }
  &:nth-of-type(2n) {
    background-color: rgb(2, 31, 193);
  }
  &:nth-of-type(3n) {
    background-color: rgb(19, 156, 9);
  }
  &:nth-of-type(4n) {
    background-color: var(--c-pink);
  }
}
