.nav {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100vw;
  padding: 10px 32px;
}

.logolink {
  display: block;
  text-decoration: none;
  color: #fff;
}

.link {
  display: block;
  margin-left: 1rem;
  padding-top: .75em;
  padding-bottom: .75em;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: var(--f-d1);
  font-weight: 900;

  &:focus,
  &:hover {
    transition: linear 150ms;
    color: #fccc0a;
  }
}

.monogram {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: .5rem;
  padding-right: 2px;
  letter-spacing: -.125rem;
  color: #000;
  border-radius: 50%;
  background-color: #ffc800;
  font-size: 20px;
  font-weight: 900;
}

.socialg {
  margin-right: 44px;
  margin-left: auto;
}

.social {
  margin-right: 12px;
  &:nth-child(3) {
    margin-right: 0;
  }
}

.socialicon {
  width: 1.25rem;
  height: 1.25rem;
  transition: fill linear 150ms;

  fill: #fff;

  &:hover {
    fill: #fccc0a;
  }
}